---
import beritanya from "../data/berita";
import Komentar from "../components/komentar.svelte";
// import Statistik from "../komponen/statistik.svelte";

export function getStaticPaths() {
  return beritanya().map(
    ({
      title,
      published_date,
      slug,
      text,
      gambar,
      ringkasan,
      tanggal_diformat,
    }) => {
      return {
        params: {
          berita: slug,
        },
        props: {
          title,
          published_date,
          text,
          gambar,
          ringkasan,
          tanggal_diformat,
        },
      };
    },
  );
}

const { berita } = Astro.params;
const { title, published_date, text, gambar, ringkasan, tanggal_diformat } =
  Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <link rel="shortcut icon" href="/images/logo.png" />
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:300,400,700|Oswald:400,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="/css/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <script is:inline nonce="04ef15c1-a7f2-4a59-bb1f-c19690d630ed">
      (function (w, d) {
        !(function (e, f, g, h) {
          e.zarazData = e.zarazData || {};
          e.zarazData.executed = [];
          e.zaraz = { deferred: [], listeners: [] };
          e.zaraz.q = [];
          e.zaraz._f = function (i) {
            return function () {
              var j = Array.prototype.slice.call(arguments);
              e.zaraz.q.push({ m: i, a: j });
            };
          };
          for (const k of ["track", "set", "debug"]) e.zaraz[k] = e.zaraz._f(k);
          e.zaraz.init = () => {
            var l = f.getElementsByTagName(h)[0],
              m = f.createElement(h),
              n = f.getElementsByTagName("title")[0];
            n && (e.zarazData.t = f.getElementsByTagName("title")[0].text);
            e.zarazData.x = Math.random();
            e.zarazData.w = e.screen.width;
            e.zarazData.h = e.screen.height;
            e.zarazData.j = e.innerHeight;
            e.zarazData.e = e.innerWidth;
            e.zarazData.l = e.location.href;
            e.zarazData.r = f.referrer;
            e.zarazData.k = e.screen.colorDepth;
            e.zarazData.n = f.characterSet;
            e.zarazData.o = new Date().getTimezoneOffset();
            if (e.dataLayer)
              for (const r of Object.entries(
                Object.entries(dataLayer).reduce((s, t) => ({
                  ...s[1],
                  ...t[1],
                })),
              ))
                zaraz.set(r[0], r[1], { scope: "page" });
            e.zarazData.q = [];
            for (; e.zaraz.q.length; ) {
              const u = e.zaraz.q.shift();
              e.zarazData.q.push(u);
            }
            m.defer = !0;
            for (const v of [localStorage, sessionStorage])
              Object.keys(v || {})
                .filter((x) => x.startsWith("_zaraz_"))
                .forEach((w) => {
                  try {
                    e.zarazData["z_" + w.slice(7)] = JSON.parse(v.getItem(w));
                  } catch {
                    e.zarazData["z_" + w.slice(7)] = v.getItem(w);
                  }
                });
            m.referrerPolicy = "origin";
            m.src =
              "../../cdn-cgi/zaraz/sd0d9.js?z=" +
              btoa(encodeURIComponent(JSON.stringify(e.zarazData)));
            l.parentNode.insertBefore(m, l);
          };
          ["complete", "interactive"].includes(f.readyState)
            ? zaraz.init()
            : e.addEventListener("DOMContentLoaded", zaraz.init);
        })(w, d, 0, "script");
      })(window, document);
    </script></head
  >
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap" id="home-section">
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <header
        class="site-navbar js-sticky-header site-navbar-target"
        role="banner"
        style="background-color:#0f6282 ;"
      >
        <div class="container">
          <div class="row align-items-center position-relative">
            <div class="site-logo">
              <a href="/">
                <img
                  src="/images/logo2.png"
                  alt="Baitul Izzah Samarinda"
                  id="logo"
                />
              </a>
            </div>
            <div class="col-12">
              <nav class="site-navigation text-right ml-auto" role="navigation">
                <ul
                  class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block"
                >
                  <li><a href="/" class="nav-link">Home</a></li>
                  <li><a href="/" class="nav-link">Profil</a></li>
                  <li class="has-children">
                    <li><a href="#home-section" class="nav-link">Berita</a></li>
                    <li><a href="/" class="nav-link">Kontak</a></li>
                    <li>
                      <a href="/pendaftaran" class="nav-link">Pendaftaran</a>
                    </li>
                  </li>
                </ul>
              </nav>
              <div class="toggle-button d-inline-block d-lg-none">
                <a
                  href="#"
                  class="site-menu-toggle py-5 js-menu-toggle text-black"
                  ><span class="icon-menu h3"></span></a
                >
              </div>
            </div>
          </div>
        </div>
      </header>
      <div
        class="site-section-cover overlay inner-page bg-light"
        style="background-image: url('images/hero_3.jpg')"
        data-aos="fade"
      >
        <div class="container">
          <div
            class="row align-items-center justify-content-center text-center"
          >
            <div class="col-lg-10">
              <div class="box-shadow-content">
                <div class="block-heading-1">
                  <span class="d-block my-3 text-white" data-aos="fade-up"
                    >{tanggal_diformat}
                    <span class="mx-2 text-primary">
                      <h1 class="mb-4" data-aos="fade-up" data-aos-delay="100">
                        {title}
                      </h1>
                    </span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <section class="blog-section">
        <div class="container">
          <div class="row">
            <div class="col-md-8 pt-10 blog-content">
              <Fragment set:html={text} />
              <!-- <img
                src="/images/hero_2.jpg"
                alt="Image"
                class="img-fluid rounded"
              />
              <br /><br />
              <p class="lead">
                Alhamdulillah, pada Sabtu, 19 Desember 2020 santri kita Taufiq
                Khoirin asal sragen telah mengujukan hafalan dengan tasmi’ 30JUZ
                dalam sekali majlis, dimulai dari ba’da shubuh sampai ashar.
                Semoga apa yang di hafalkan bisa mendatangkan keberkahan bagi
                semua pihak yang ikut berpartisipasi dalam proses menghafal nya.
              </p> -->
              <div class="pt-5"></div>
              <div class="pt-5">
                <!-- <h3 class="mb-5">0 Comments</h3> -->
                <ul class="comment-list">
                  <li class="comment">
                    <div class="vcard bio"></div>

                    <div class="comment-form-wrap pt-5">
                      <h3 class="mb-5">Leave a comment</h3>
                      <Komentar client:only />
                    </div>
                  </li>
                </ul>
              </div>
              <footer class="site-footer">
                <p class="copyright">
                  <small>
                    Copyright &copy;<script
                      is:inline
                      data-cfasync="false"
                      src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
                    ></script><script>
                      document.write(new Date().getFullYear());
                    </script> All rights reserved | This template is made with
                    <i class="icon-heart text-danger" aria-hidden="true"></i>
                     by <a href="https://colorlib.com/" target="_blank"
                      >Colorlib</a
                    >
                  </small>
                </p>
              </footer>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- <Statistik client:only judul={title} /> -->
    <script is:inline src="/js/jquery-3.3.1.min.js"></script>
    <script is:inline src="/js/popper.min.js"></script>
    <script is:inline src="/js/bootstrap.min.js"></script>
    <script is:inline src="/js/owl.carousel.min.js"></script>
    <script is:inline src="/js/jquery.sticky.js"></script>
    <script is:inline src="/js/jquery.waypoints.min.js"></script>
    <script is:inline src="/js/jquery.animateNumber.min.js"></script>
    <script is:inline src="/js/jquery.easing.1.3.js"></script>
    <script is:inline src="/js/aos.js"></script>
    <script is:inline src="/js/main.js"></script>

    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-23581568-13");
    </script>
    <script
      is:inline
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993"
      integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA=="
      data-cf-beacon='{"rayId":"76e110e33e476ba2","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2022.11.0","si":100}'
      crossorigin="anonymous"></script>
  </body>
</html>

<style is:global>
  img {
    max-width: 100%;
  }
</style>
